// COLORES
$color-primario: #3498db;
$color-fondo: #f5f5f5;
$color-texto: #333;

// ESPACIADO
$espaciado-sm: 8px;
$espaciado-md: 16px;
$espaciado-lg: 32px;

// BORDES
$radio-borde: 8px;


// DISPOSITIVOS
$ancho-maximo-movil: 480px;
$ancho-maximo-tablet: 768px;
$ancho-minimo-escritorio: 1024px;
$ancho-minimo-escritorio-grande: 1280px;


//VARAIBLES DE PRUEBA
$test_fondo_color: #fc2020;