@use '../base_scss/variables' as *;
@use '../base_scss/responsive.scss' as *;

// ==========================================
// SECCIÓN 1: Header (La ilustración con texto)
// ==========================================

// ==========================================
// SECCIÓN 1: Header (La ilustración con texto)
// ==========================================
.eres_veterinario__seccion_uno {
    width: 100%;
    margin-top: 90px; 
    //height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffffff;

    background-image: url('../../assets/veterinario_fondo.jpeg');  
    background-size: 75%; 
    background-position: center center; 
    background-repeat: no-repeat;

    @include para-movil {
        //margin-top: 70px;
        height: 50vh; 
        background-size: 95%;
    }

    @include para-tablet-vertical {

        height: 85vh;
        background-size: 100%;

        // border: 1px solid blue; 
    }

    @include para-escritorio {
        background-size: 75%;
        height: 100vh; 
    }

    .padre_contendor_eres_veterinario {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

       

        .veterinario_header__contenido-central {
            display: flex;
            flex-direction: column;
            align-items: center; // Cambia a flex-start si quieres todo alineado a la izquierda
            gap: 30px;
            max-width: 700px;
            padding: 0 20px;

            @include para-escritorio{}

            @include para-tablet-vertical{}

            @include para-movil{

                margin-top: 30px;
              
            }



            .veterinario_header__titulo {
                font-family: 'Arlon', sans-serif;
                font-size: 48px;
                font-weight: 500 !important; 
                line-height: 1.1;
                margin: 0;
                color: #fd504d; 
                text-align: center; // En la imagen se ve centrado

                @include para-escritorio{

                }

                @include para-tablet-vertical {
                    font-size: 36px;
                } 

                 // AQUÍ DEBES PEGARLO (Reemplazando el anterior):
                @include para-movil {
                    font-size: 18px;
                    max-width: 130px; // Esto es lo que fuerza los 4 renglones
                    width: 90%; 
                    margin: 0 auto; 
                    line-height: 1.3; 
                    text-align: center;

                    br {
                        display: none; // Esto anula los saltos de línea del HTML
                    }
                }
            }

            .veterinario_header__boton {
                display: inline-block; // Asegura que tome el padding
                background-color: #ff5a5a;
                color: #ffffff; // Texto en blanco para que se lea
                border: none;
                padding: 18px 45px;
                font-size: 18px;
                font-weight: 600;
                border-radius: 50px;
                cursor: pointer;
                box-shadow: 0 10px 20px rgba(255, 90, 90, 0.2);
                transition: all 0.3s ease;
                text-decoration: none; // Por si es un <a>

                &:hover {
                    background-color: #e04a4a;
                    transform: translateY(-3px);
                } 
                @include para-movil {
                        // Mueve el botón 150px hacia abajo desde su lugar original
                        transform: translateY(90px); 
                        
                        padding: 12px 25px;
                        font-size: 14px;
                        width: 250px;
                    }
                 @include para-tablet-vertical {
                // AJUSTE PARA QUE SEA MÁS DELGADO:
                width: 200px;      // Un poco más ancho para que no se amontone el texto
                height: 50px;     // Altura reducida (antes tenías 80px)
                font-size: 16px;
               
                padding: 0;       // Al usar height fija, quitamos el padding vertical
    }
            }
        }
    }
}


// ===========================================================================================================
// SECCIÓN 2: Hemocomponentes
// ============================================================================================================
.eres_veterinario__seccion--superior {

    padding: 60px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;

    .padre_contendor_home_seccion_dos_eres_veterinario {

        width: 100%;
        
        //padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

         //border: 1px solid black;

        @include para-escritorio{
            padding: 0px 60px;

            margin-bottom: 120px;

           
        }
    }
}

.hemo-titulo {

    //font-size: 42px;
    font-weight: 500 !important;
    text-align: center;
    color: black;
    font-family: 'Arlon', sans-serif;
    margin: 0;

   @include para-movil {
        font-size: 18px;
        color: #000000; // Cambiado a negro como en tu imagen de referencia
        
        // El ancho de 230px es el punto exacto para que:
        // 1. "Elige el hemocomponente" quepa justo.
        // 2. "adecuado para cada" quepa en el segundo.
        // 3. "situación" baje al tercero.
        max-width: 230px; 
        
        margin: 60px auto 0 auto; // 60px de margen superior para alejarlo del botón
        line-height: 1.2;
        display: block;
        font-weight: 500;

        margin-bottom: 50px;

       
    }

    @include para-tablet-vertical {
        font-size: 35px;       // Aumentamos el tamaño para que tenga más presencia
        line-height: 1.1;      // Altura de línea más cerrada para que se vea más unido
        letter-spacing: -0.02em; // Un toque negativo hace que Arlon se vea más "estirada" y pro
        
        //width: 100%;
        max-width: 1100px;     // Limitamos un poco para que no toque los bordes pero sea amplio
        margin-top: 80px;
        margin-bottom: 60px;
        
        // Quitamos el border una vez verificado
        //border: 1px solid black; 
    }


    @include para-escritorio {
        font-size: 35px;       // Aumentamos el tamaño para que tenga más presencia
        line-height: 1.1;      // Altura de línea más cerrada para que se vea más unido
        letter-spacing: -0.02em; // Un toque negativo hace que Arlon se vea más "estirada" y pro
        
        width: 100%;
        //max-width: 1100px;     // Limitamos un poco para que no toque los bordes pero sea amplio
        margin-top: 80px;
        margin-bottom: 60px;
        
        // Quitamos el border una vez verificado
       // border: 1px solid black; 
    }
}

.hemo-grid {
    display: grid;
    gap: 25px;
    //width: 100%;

    @include para-escritorio {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;

        margin-top: 50px;

        border: 1px solid blue;

        .hemo-card--eritrocitos { grid-column: 1; grid-row: 1; }
        .hemo-card--plaquetas { grid-column: 2; grid-row: 1; }
        .hemo-card--sangre { grid-column: 3; grid-row: 1 / span 2; }
        
        .hemo-card--plasma { 
            grid-column: 1 / span 2; 
            grid-row: 2; 
            flex-direction: row !important;
            .hemo-card__img-container, .hemo-card__info { flex: 1; }
        }
    }

    @include para-tablet-vertical {
        grid-template-columns: 1fr 1fr;
        .hemo-card--plasma, .hemo-card--sangre { grid-column: 1 / span 2; }

        padding: 35px;
    }

    @include para-movil {
        grid-template-columns: 1fr;
        .hemo-card--plasma { flex-direction: column !important; }
    }
}

.hemo-card {
    background: #ffffff;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border: 1px solid #f0f0f0;
    height: 100%;

     @include para-movil{
        margin: 0 auto;
            width: 211px;
        }

    &__img-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        //min-height: 200px;
        overflow: hidden;

        img {
            max-width: 100%;
            // height: auto;
            object-fit: contain;

          
        } 
    }

    &__info {
        background-color: #ff9a90;
        padding: 30px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 160px;

        h3 {
            font-size: 28px;
            font-weight: 800;
            margin-bottom: 10px;
            color: #000;
        }
        p {
            font-size: 16px;
            line-height: 1.4;
            color: #222;
            margin: 0;
        }

       
    }

    &--sangre .hemo-card__img-container { flex: 3; }
}

// Estilos específicos para imágenes con zoom (Plaquetas y Eritrocitos)
.hemo-card--plaquetas, .hemo-card--eritrocitos {
    .hemo-card__img-container {
        padding: 0;
        img {
            width: 100%;
            // height: 100%;
            object-fit: cover;
            transform: scale(1.1); // Pequeño zoom para llenar el card

            @include para-movil{
                height: 146px;
            }
        }
    } 
}

