@use '../base_scss/variables' as *;
@use '../base_scss/responsive' as *;



.contenedorprincipal {
  flex: 1;
  padding: 0;
  margin: 0;

  width: 100%;
  height: auto;

  border: 1px solid $color-primario;

  // 🔥 CLAVE: evita que hijos rompan el layout horizontal
  overflow-x: hidden;
  box-sizing: border-box; 



  @include para-tablet {
    padding: $espaciado-md;
  }

  @include para-movil {
    padding: $espaciado-sm;
  }
}